﻿@{
    ViewData["Title"] = "Delete doctor";
}
<h2>Form of deleting doctor</h2>

<form method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Id:</label>
        <div class="col-md-4">
            <input value="@Model.Id" name="Id" disabled />
        </div>
    </div>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Name:</label>
        <div class="col-md-4">
            <input type="text" name="Name" value="@Model.Name" disabled/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Speciality:</label>
        <div class="col-md-4">
            <input type="text" name="Speciality" value="@Model.Speciality" disabled/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Skill:</label>
        <div class="col-md-4">
            <input type="text" name="Skill" value="@Model.Skill" disabled/>
        </div>
    </div>
    <div class="form-group">
        <div class="container">
            <div class="row">
                <div class="col-offset-2 col-3">
                    <input type="submit" class="btn btn-success" value="Confirm"/>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">
                        <a href="~/Doctors" style="color:inherit">Cancel</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>