﻿@{
    ViewData["Title"] = "Discharge patint";
}

@using Hospital.ViewModels
@using Hospital.Models
@model PatientVM

<h2>Form of discharging from hospital </h2>
<form asp-controller="Patient" asp-action="Delete" asp-antiforgery="true">
    <div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" value="@Model.Name" disabled />
        </div>
        <div>
            <label asp-for="Diagnosis"></label>
            <input type="text" asp-for="Diagnosis" value="@Model.Diagnosis" disabled />
        </div>
        <div>
            <label asp-for="Lifetime"></label>
            <input type="text" asp-for="Lifetime" value="@Model.Lifetime.Days days  @Model.Lifetime.Hours hours  @Model.Lifetime.Minutes min" disabled />
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Confirm" />
        <button type="button" class="btn btn-danger">
            <a asp-controller="Patient" asp-action="Index" style="color:inherit">Cancel</a>
        </button>
    </div>
</form>